hr {
    border-top: 1px solid #DCDFE6;
    margin: 0;
}

.el-dialog__body {
    padding-top: 0;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.el-dialog {
    margin-top: 15vh;
    width: 70%;
    line-height: initial !important;
}


.el-dialog__header {
    background-color: #0075ff;
    padding-top: 15px;
    padding-bottom: 10px;
}

.el-dialog__title {
    color: #fff;
}

.el-card__header {
    padding: 0;
}

.el-card__header > div:first-child {
    background-color: rgba(0,0,0,0.03);
    padding: 0.5rem 1.25rem;
}

.el-dialog__body .ql-editor {
    min-height: 200px !important;
}

.el-checkbox__label {
    padding-left: 2px;
}

.el-tabs__content {
    padding: 0;
}